* {
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial;
	line-height: 1.3em;
	-webkit-text-size-adjust:none;
}
strong, b {
	font-weight: bold;
}
body p {
	margin-bottom: 1em;
}
.clearer {
	clear: both;
	font-size: 1px;
	text-indent: -9999px;
	height: 1px;
}
#wrapper {
	width: 960px;
	margin: 0px auto 30px auto;
}
a {
	color: #222;
	text-decoration: none;
}
/*.dsq-brlink {
	display: none;
}*/
h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	margin: 0px 10px 5px 10px;
}
#header {
	padding: 25px 0px 0px 15px;
	border-bottom: 3px solid #111;
	margin-bottom: 10px;
}
#logo {
	float: left;
}
#logo a {
	display: block;
	background-image: url('http://riksdagsrosten.se/static/images/riksdagsrosten-320.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 320px;
	height: 83px;
	margin-top: 10px;
}
#nav-1 {
	padding-top: 32px;
	margin-bottom: -2px;
	float: right;
	margin-right: -10px;
}
#nav-1 li {
	float: left;
	margin-right: 10px;
}
#nav-1 li a {
	display: block;
	padding: 10px 20px;
	color: #e1e1e1;
	background-color: #111;
	text-decoration: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#nav-1 li.facebook a {
	background-color: #3b5998;
	color: #fff;
	background-image: url('../images/facebook-f.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
	background-position: 14px 7px;
}
#nav-1 li a:hover {
	color: #fff;
}
#main {
	float: left;
	width: 600px;
}
#main.start {
	width: 960px;
	margin-top: 10px;
}
#main.votering {
	float: left;
	width: 560px;
	margin-bottom: 20px;
}



h1 {
	font-size: 30px;
	line-height: normal;
	font-weight: bold;
	margin: 0px 10px 15px 10px;
}
h1 span.logo-parti {
	padding-right: 40px;
}
h1.single-row {
	line-height: 50px;
	margin: 0px 10px 5px 10px;
}
#sidebar {
	width: 345px;
	float: right;
}
#footer {
	margin-top: 30px;
	border-top: 3px solid #111;
	padding: 5px;
}
.votes {
	width: 250px;
	height: 26px;
	/*padding: 7px 7px 5px 7px;*/
	/*padding: 7px 5px 5px 4px;*/
	/*border: 1px solid #999;*/
	margin: 10px auto 10px auto;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	overflow: hidden;
	background: -moz-linear-gradient(-90deg,#FF5C5C,#B93C3C);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF5C5C), to(#B93C3C));
}
.votes.none {
	background: -moz-linear-gradient(-90deg,#e1e1e1,#999);
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#999));
}
#list .votes {
	width: 220px;
}
.column-8 .votes {
	width: 180px;
}

.votes .choosen {
	float: left;
	background-color: #459534;
	padding: 3px;
	margin: -3px;
	/*padding: 4px 3px 3px 10px;
	margin: -4px -10px -3px -3px;*/
	padding: 6px 0px 3px 0px;
	margin: -4px 0px -3px 0px;
	line-height: 22px;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #003300;
	text-decoration: none;
	background: -moz-linear-gradient(-90deg,#61C861,#2E872E);
        background: -webkit-gradient(linear, left top, left bottom, from(#61C861), to(#2E872E));
        text-indent: 8px;
}

.votes .yes {
	float: left;
	height: 26px;
	background-color: #459534;
	/*padding: 4px 3px 3px 10px;
	margin: -4px -10px -3px -3px;*/
	/*padding: 6px 0px 3px 0px;
	margin: -4px 0px -3px 0px;*/
	background: -moz-linear-gradient(-90deg,#61C861,#2E872E);
        background: -webkit-gradient(linear, left top, left bottom, from(#61C861), to(#2E872E));
}
.votes .no {
	float: right;
	height: 26px;
	background-color: #e22832;
	text-align: right;
	/*padding: 4px 10px 3px 3px;
	margin: -4px -3px -3px -10px;*/
	/*padding: 6px 0px 3px 0px;
	margin: -4px 0px -3px 0px;*/
	background: -moz-linear-gradient(-90deg,#FF5C5C,#B93C3C);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5C5C), to(#B93C3C));
}
.votes .yes-count {
	float: left;
	margin-top: -26px;
	line-height: 26px;
	padding-left: 7px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #003300;
	text-decoration: none;
}
.votes .no-count {
	float: right;
	margin-top: -26px;
	line-height: 26px;
	text-align: right;
	padding-right: 7px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #480000;
}
.column .votes.none .yes-count, .column .votes.none .no-count {
	margin-top: -17px;
}
/*#list .votes .no, #list .votes .yes {
	text-indent: -999px;
	line-height: 10px;
	text-align: left;
}*/
#data-box {
	background-color: #eae4d9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}
#data-box .group {
	background-color: #fff;
	margin: 20px 0px;
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px #999;
}
#data-box .group h5 {
	font-weight: bold;
	font-size: 18px;
}
#data-box .group .count {
	text-align: right;
}
#data-box .group .count b {
	font-weight: bold;
}
#list ul {
	background-color: #eae4d9;
	padding: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#list ul li {
	margin-bottom: 10px;
}
#list ul li a { 
	display: block;
	/*background-color: #eae4d9;
	padding: 20px;*/
	color: #222;
	text-decoration: none;
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 1px 3px #999;
}
#slider {
	width: 620px;
}
#slider ul li a { 
	height: 264px;
}
#list ul li a:hover {
	box-shadow: 0px 1px 3px #666;
}
#list ul li a h6 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 1.2em;
	padding-bottom: 10px;
	border-bottom: 1px dashed #999;
}
#list ul li a .meta {
	font-size: 12px;
	font-weight: bold;
}
#list ul li a .meta b {
	font-weight: normal;
}
#list ul li a .description {
	font-size: 13px;
	line-height: 1.4em;
	color: #333;
}
#list ul li a .left {
	width: 320px;
	float: left;
}
#list ul li a .right {
	float: right;
	padding-top: 20px;
}
/*#leave-vote .button {
	font-size: 30px;
	display: block;
	padding: 20px 60px;
	text-decoration: none;
}*/
/*#leave-vote .yes {
	float: left;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #003300;
	text-decoration: none;
		background: -moz-linear-gradient(-90deg,#61C861,#2E872E);
  background: -webkit-gradient(linear, left top, left bottom, from(#61C861), to(#2E872E));
}
#leave-vote .no {
	float: left;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #480000;
	background: -moz-linear-gradient(-90deg,#FF5C5C,#B93C3C);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5C5C), to(#B93C3C));
}*/
/*#leave-vote .active {
	float: left;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #480000;
	background: -moz-linear-gradient(-90deg,#e1e1e1,#666);
        background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#666));
}*/


#leave-vote .next {
	float: left;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #222;
	background: -moz-linear-gradient(-90deg,#e1e1e1,#666);
  background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#666));
  padding: 20px 5px;
}


.profile {
}
.profile .procent, .parti .procent {
	display: block;
	font-size: 70px;
	font-weight: bold;
	line-height: 1.5em;
}
.profile .description, .parti .description {
	color: #666;
}
.inner {
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px #999;
}
#profile-overview .inner .left {
	display: block;
	float: left;
	margin-right: 10px;
}
#profile-overview .inner img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 50px;
	display: block;
}
#profile-overview .inner h3 {
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 0px;
}
#profile-overview .inner span {
	font-size: 25px;
	line-height: 50px;
	float: left;
	color: #999;
}
#profile-overview .inner span.logout {
	line-height: 45px;
	float: right;
	margin-right: 7px;
}
/*#profile-overview .inner span.logout a {
	background-color: #111;
	color: #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 16px;
	text-decoration: none;
	margin-right: 15px;
}
#profile-overview .inner span.logout a:hover {
	color: #fff;
}*/

#profile-name {
	float:left;
}
.profile .fb-like {
	margin-top:14px;
	margin-left:2px;
	float:left;
}

#parti-name {
	float:left;
}
.parti .fb-like {
	margin-top:14px;
	margin-left:2px;
	float:left;
}

.column-3, .column-8 {
	background-color: #eae4d9;
	padding: 10px 10px 10px 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.column {
	float: left;
	text-align: center;
	background-color: #fff;
	padding: 10px;
	margin-left: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px #999;
}
.column-3 .column {
	width: 207px;
	height: 276px;
}
.column-3 .column span {
	display: block;
}
.column-3 .column.inactive .procent {
	color: #ccc;
}
.column-3 .column.inactive h3, .column-3 .column.inactive .description {
	color: #999;
}
.column-image {
	display: block;
	height: 276px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.column-8 .column {
	width: 207px;
	text-align: left;
	margin-bottom: 10px;
}
.column-8 .clearer {
	margin-bottom: -10px;
}
.column-8 .column a {
	display: block;
	color: #111;
	min-height: 130px;
	text-decoration: none;
}
.column-8 .column .logo-parti {
	text-indent: -9999px;
	background-position: center center;
}
.column-8 .column .procent {
	display: block;
	text-align: center;
	font-size: 60px;
	line-height: 80px;
	font-weight: bold;
}
.column-8 .column span {
	display: block;
	font-size: 15px;
	color: #222;
}

.column-8 .column h3 {
	display: block;
	line-height: 30px;
	margin: 10px 0px;
}
.logo-parti {
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 35px;
}



.singular-vote-list {
	background-color: #eae4d9;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.singular-vote-list ul {
	margin-top: -10px;
}
.singular-vote-list ul li a {
	display: block;
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;
	color: #111;
	text-decoration: none;
	box-shadow: 1px 2px 3px #999;
}

.singular-vote-list ul li .answer {
	float: right;
	background-color: #ccc;
	padding: 3px 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	min-width: 25px;
	text-align: center;
	font-size: 14px;
}
.singular-vote-list ul li .title {
	font-size: 15px;
	line-height: 25px;
	padding-left: 5px;
}
.singular-vote-list ul li .yes {
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #003300;
	text-decoration: none;
	background: -moz-linear-gradient(-90deg,#61C861,#2E872E);
	background: -webkit-gradient(linear, left top, left bottom, from(#61C861), to(#2E872E));
}
.singular-vote-list ul li .no {
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #480000;
	background: -moz-linear-gradient(-90deg,#FF5C5C,#B93C3C);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF5C5C), to(#B93C3C));
}
.singular-vote-list ul li .franvarande {
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #222;
	background: -moz-linear-gradient(-90deg,#e1e1e1,#999);
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#999));
}
#main.profile, #main.profil, #main.ledamoter-lista, #main.parti {
	width: 960px;
	float: none;
}



.box-frame {
	background-color: #eae4d9;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.box-frame ul {
	margin-top: -10px;
}
.box-frame ul li a {
	display: block;
	background-color: #fff;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;
	color: #111;
	text-decoration: none;
	box-shadow: 1px 2px 3px #999;
}
.box-frame.grid-3 {
	padding: 10px 10px 10px 0px;
}
.box-frame.grid-3 ul li {
	width: 306px;
	float: left;
	margin-left: 10px;
}
.box-frame.ledamotlista ul li a {
	background-repeat: no-repeat;
	background-position: 260px 20px;
}
#all.box-frame.grid-3 ul li a {
	border: 5px solid #fff;
}
#all.box-frame.grid-3 ul li.franvarande a {
	border: 5px solid #ccc;
}
#all.box-frame.grid-3 ul li.nej a {
	border: 5px solid #f5a9a9;
}
#all.box-frame.grid-3 ul li.ja a {
	border: 5px solid #a9f5a9;
	
}

#all.box-frame.toplist ul li a .result {
	font-size: 30px;
	float: right;
	line-height: 60px;
}
.box-frame ul li a .name {
	display: block;
	float: left;
	font-size: 15px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 3px;
}
#all.box-frame ul li a .name {
	width: 185px; /* 170 */
	height: 66px;
	overflow: hidden;
}
.box-frame ul li a .vote {
	display: none; /*TEMP, annars block*/
	width: 30px;
	float: right;
	font-size: 15px;
	line-height: 60px;
	font-weight: bold;
	overflow: hidden;
}
.box-frame ul li .rank {
	display: block;
	width: 30px;
	float: left;
	font-size: 35px;
	line-height: 70px;
	font-weight: bold;
	height: 60px;
	overflow: hidden;
	padding-left: 5px;
}
.box-frame.ranked ul li a {
	margin-left: 40px;
}
.box-frame.ranked ul li a .result {
	display: block;
	float: right;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}
.box-frame ul li a img {
	display: block;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 5px;
}



.show-more-button {
	margin: 10px 0px;
	display: block;
	padding: 10px 0px;
	background-color: #666;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	background: -moz-linear-gradient(-90deg,#999,#333);
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333));
}
.show-more-button:active {
	margin-top: 11px;
	margin-bottom: 9px;
}

#list #filter {
	margin-bottom: -1px;
}
#list #filter li {
	width: 30%;
	float: left;
	margin: 0;
	margin-right: 1.5%;
	margin-left: 1.5%;
}
#list #filter ul {
	background: none;
}
#list #filter li a {
	box-shadow: none;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: #EAE4D9;
text-align: center;
color: #666;
}
#list #filter li a:hover {
	color: #333;
	text-decoration: underline;
}
#list #filter li.active a {
	color: #e1e1e1;
	background-color: #111;
	margin-top: -5px;
	padding-top: 13px;
	padding-bottom: 12px;
	font-size: 20px;
}
#list #filter li.active a:hover {
	color: #e1e1e1;
	text-decoration: none;
}
#list #filter-sub {
	background-color: #111;
}

.pagination_front {
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.pagination_front ul {
	margin: 0;
	padding: 0;
	background: none;
	background-color: #EAE4D9;
}
.pagination_front li {
	width: 40px;
	display: inline-block;
	margin: 0px 2px;
	color: #9c9c9c;
}
#list .pagination_front li a {
	color: #ccc;
	padding: 10px 0px;
	display: block;
	text-align: center;
}
.pagination_front li.active {
	width: 46px;
}
#list .pagination_front li.active a {
	color: #333;
	font-weight: bold;
	border: 3px solid #333;
}

.s {
	background-image: url('../images/socialdemokraterna.png');
}
.m {
	background-image: url('../images/moderaterna.png');
}
.mp {
	background-image: url('../images/miljopartiet.png');
}
.v {
	background-image: url('../images/vansterpartiet.png');
}
.sd {
	background-image: url('../images/sverigedemokraterna.png');
}
.kd {
	background-image: url('../images/kristdemokraterna.png');
}
.fp {
	background-image: url('../images/folkpartiet.png');
}
.c {
	background-image: url('../images/centerpartiet.png');
}

.box-stroke {
	border: 3px solid #EAE4D9;
	border-radius: 15px;
	padding: 15px;
}
.box-stroke p {
	color: #333;
}
.box-stroke h4 {
	background-repeat: no-repeat;
	padding-left: 30px;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 8px;
}


#slider-content {
	height: 285px;
}
#slider ul li a {
	width: 580px;
	margin-left: 10px;
	margin-right: 10px;
}
#slider-content li {
	margin: 10px 0px 10px 0px;
}
#slider-nav-container {
	float: left;
	padding: 0px 18px 10px 18px;
	background-color: #EAE4D9;
	-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}
#slider-nav a {
	display: block;
	text-indent: -999px;
	background-image: url(../images/slider-button.png);
	width: 18px;
	height: 19px;
	float: left;
	margin-right: 5px;
	opacity: 0.5;
}
#slider-nav .activeSlide {
	opacity: 1;
}
#slider-more {
	float: right;
	padding: 10px;
}
#slider-more a {
	color: #333;
}


.title time {
	color: #999;
}




.notice {
	background-color: #fee;
	float:right;
	padding: 10px;
	width:500px;
	border: 1px dashed #ccc;
	font-size: 14px;
	line-height: 1.3em;
	color: #333;
	/*height: 36px;*/
}
.notice a {
	text-decoration: underline;
}

.notice strong {
	font-weight: bold;
}

/* WORK IN PROGRESS */
#work-in-progress {
    width: 100%;
    padding: 3px 0px 3px 0px;
    background-color: #111;
}
#work-in-progress p {
    font-family: Arial;
    font-size: 13px;
    line-height: 2.9em;
    color: #CCC;
    width: 915px;
    margin: 0px auto;
    padding-left: 45px;
    background-image: url('http://riksdagsrosten.se/24hbc-30.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
#work-in-progress img {
    margin-right: 5px;
}
#work-in-progress a {
    color: #CCC;
}
#work-in-progress strong {
	font-weight: bold;
    color: #e1e1e1;
}


.box-frame .twingly_widget {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #fff;
	font-size: 14px;
	box-shadow: 1px 2px 3px #999;
}
.box-frame .twingly_widget a {
	color: #000;
}
.box-frame .twingly_no_results ul {
	display: none;
}
.box-frame .twingly_widget a.twingly_item_rss:hover {
	text-decoration: none;
}
.box-frame .twingly_widget .twingly_item_websitename a {
	color: #818181;
	font-size: 11px;
}
.box-frame .twingly_logo {
	margin-right: 6px;
}
.box-frame .twingly_item {
	padding: 6px 6px 5px 6px;
}
.box-frame .twingly_item:last-child {
	border-bottom: 0px;
}
.box-frame .twingly_header {
	background: none;
}
.twingly_widget #get_this_widget_content_0, .twingly_widget .twingly_get_widget, .twingly_widget .twingly_footer, .twingly_widget .twingly_header {
	display: none;
}







/* Buttons */

#votebuttons{
 display:block;
 list-style:none;
 margin:0;
 padding:0;
  font-family:Helvetica, Lucida Grande; 
}

#votebuttons li{
 margin:0 10px;
 display:inline;
 float:left;
 text-align:center;
 font-size:2em;
 font-weight:bold;
 padding:15px;
 background-color: #F0F0F0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#cbcabd), to(#F0F0F0)); 
background-image: -webkit-linear-gradient(top, #cbcabd, #F0F0F0); 
background-image:    -moz-linear-gradient(top, #cbcabd, #F0F0F0); 
background-image:     -ms-linear-gradient(top, #cbcabd, #F0F0F0); 
background-image:      -o-linear-gradient(top, #cbcabd, #F0F0F0); 
background-image:         linear-gradient(top, #cbcabd, #F0F0F0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cbcabd', EndColorStr='#F0F0F0');
 -webkit-box-shadow:    0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
-moz-box-shadow:    0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
box-shadow:            0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
 -webkit-border-radius:    120px;
-moz-border-radius:        120px;
border-radius:            120px;
}

#votebuttons a{
 -webkit-border-radius:    100px;
 -moz-border-radius:        100px;
 border-radius:            100px;
 text-decoration:none;
 color:#FFF;
 width: 100px;
 height:100px;
 line-height:100px;  
}

#votebuttons li a:active{
 -webkit-box-shadow:0 1px 2px #000 inset, 0 1px 0 rgba(255, 255, 255, 1);
 -moz-box-shadow:0 1px 4px #000 inset, 0 1px 0 rgba(255, 255, 255, 1);
 box-shadow:0 1px 4px #000 inset, 0 1px 0 rgba(255, 255, 255, 1);
 top:4px;
 position:relative; 
}

.voteYes{
background-color: #74B44D;
background-image: -webkit-gradient(linear, left top, left bottom, from(#7DCD4B), to(#74B44D)); 
background-image: -webkit-linear-gradient(top, #7DCD4B, #74B44D); 
background-image:    -moz-linear-gradient(top, #7DCD4B, #74B44D); 
background-image:     -ms-linear-gradient(top, #7DCD4B, #74B44D); 
background-image:      -o-linear-gradient(top, #7DCD4B, #74B44D); 
background-image:         linear-gradient(top, #7DCD4B, #74B44D);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7DCD4B', EndColorStr='#74B44D');
 display:block;
 border:1px solid #377E0C;
 text-shadow:-1px -1px 0 #377E0C;
 -webkit-box-shadow:    0 4px 0 #2D640A, 0 1px 0 rgba(255, 255, 255, .7) inset;
-moz-box-shadow:    0 4px 0 #2D640A, 0 1px 0 rgba(255, 255, 255, .7) inset;
box-shadow:            0 4px 0 #2D640A, 0 1px 0 rgba(255, 255, 255, .7) inset; 
}
.voteNo{
background-color: #B02525;
background-image: -webkit-gradient(linear, left top, left bottom, from(#C12727), to(#B02525)); 
background-image: -webkit-linear-gradient(top, #C12727, #B02525); 
background-image:    -moz-linear-gradient(top, #C12727, #B02525); 
background-image:     -ms-linear-gradient(top, #C12727, #B02525); 
background-image:      -o-linear-gradient(top, #C12727, #B02525); 
background-image:         linear-gradient(top, #C12727, #B02525);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C12727', EndColorStr='#B02525');
 display:block;
 border:1px solid #8E1212;
 text-shadow:-1px -1px 0 #8E1212;
 -webkit-box-shadow:    0 4px 0 #5F0E0E, 0 1px 0 rgba(255, 255, 255, .7) inset;
-moz-box-shadow:    0 4px 0 #5F0E0E, 0 1px 0 rgba(255, 255, 255, .7) inset;
box-shadow:            0 4px 0 #5F0E0E, 0 1px 0 rgba(255, 255, 255, .7) inset; 
}​
#votebuttons.voted-ja .voteYes, #votebuttons.voted-nej .voteNo {
 -webkit-box-shadow:0 1px 2px #000 inset, 0 1px 0 rgba(255, 255, 255, 1);
 -moz-box-shadow:0 1px 4px #000 inset, 0 1px 0 rgba(255, 255, 255, 1);
 box-shadow:0 1px 4px #000 inset, 0 1px 0 rgba(255, 255, 255, 1);
 top:4px;
 position:relative;
}
#votebuttons .not-voted a {
	background-image: #e1e1e1;
	color: #333;
}

.interest-groups {
	background-color: #eae4d9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px 10px 13px 10px;
	margin-bottom: 10px;
}
.interest-groups-item {
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px #999;
	float: left;
	width: 281px;
	margin-right: 12px;
	margin-top: 10px;
	height: 250px;
	background-image: url('../images/quote.png');
	background-repeat: no-repeat;
	background-position: 10px 30px;
}
.interest-groups-item h5 {
	font-weight: bold;
}
.interest-groups-item p {
	color: #999;
	font-size: 13px;
}





/* FIRST */
#first {
	padding-top: 30px;
	margin-bottom: -65px; /*TEMP*/
	padding-bottom: 65px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	border-top: 4px solid #222;
}
.w960 {
	width: 960px;
	margin: 0px auto;
}
#first .w960 {
	margin: 40px auto 0px auto;
}
#first .logo {
	float: left;
	background-image: url(http://www.riksdagsrosten.se/static/images/riksdagsrosten-320.png);
	width: 320px;
	height: 83px;
	text-indent: -9999px;
	margin-bottom: 250px;
}
#shortcuts {
	float: right;
}
#shortcuts li {
	display: inline;
	margin-left: 20px;
}
#shortcuts li a {
	color: #999;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 20px;
}
#shortcuts li a:hover {
	color: #555;
}
#features {
	background-color: #EAE4D9;
}
#features .item {
	float: left;
	width: 31%;
	margin-right: 2%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#features .item img {
	background-color: #d7d1c6;
	border-radius: 5px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px inset, white 0px -1px 1px inset;
}
#mentions {
	padding: 20px 0px;
	background-color: #222;
	color: #fff;
}
#mentions h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	float: left;
	width: 650px;
}
#mentions .social {
	float: right;
	background-color: #333;
	display: compact;
	width: 180px;
	overflow: hidden;
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	margin-top: 3px;
}
#mentions .social iframe {
	float: left;
}
iframe.twitter-follow-button {
	width: 80px !important;
}
#mentions #tweets li {
	width: 48%;
	float: left;
	font-size: 14px;
	border-bottom: 1px solid #333;
	margin-right: 2%;
	margin-bottom: 25px;
	padding-bottom: 25px;
	color: #ccc;
}
#mentions a {
	color: #fff;
}
#mentions .author {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#mentions img {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
}
#site-info {
	margin: 40px 0px 30px 0px;
	color: #888;
	font-size: 13px;
}
#site-info strong, #site-info a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#site-info .left {
	float: left;
}
#site-info .right {
	float: right;
}
#site-info li {
	display: inline;
	margin-left: 30px;
}
#signup {
	background-color: #fff;
	padding: 15px;
	width: 300px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	top: -120px;
	float: left;
	margin-bottom: -120px;
	color: #999;
}
#signup a {
	display: block;
	background-image: url('../images/facebook-f.png');
	background-repeat: no-repeat;
	background-color: #3B5998;
	background-position: 15px 12px;
	width: 260px;
	color: #fff;
	padding: 17px 0px 20px 40px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 13px;
	margin-bottom: 10px;
}
#signup iframe {
	margin-left: 10px;
}
#skip-signup {
	padding-top: 35px;
	clear: both;
	/*width: 600px;
	float: right;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.3em;
}
#skip-signup a {
	color: #111;
	text-decoration: none;
	font-weight: bold;
}
.screenshot {
	position: relative;
	top: -280px;
	left: 50px;
	margin-bottom: -300px;
}



#welcome .twoway {
	width: 364px;
	display: block;
	float: right;
	padding-left: 1%;
	padding-right: 1%;
}

#welcome .twoway.first-child {
	float: left;
	width: 363px;
	border-right: 1px solid #ccc;
}
#welcome ul {
	width: 770px;
	margin: 0px auto 20px auto;
}
#welcome ul ul {
	width: auto;
	margin: 0px;
}
#welcome li {
	font-size: 14px;
	color: #999;
}
#welcome ul li a.btn {
	margin: 30px auto 30px auto;
	width: 80%;
	display: block;
}

#welcome h3 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
#welcome li ul li {
	padding-left: 75px;
	height: 60px;
	background-repeat: no-repeat;
	margin-top: 20px;
}
#welcome li.fb-no {
	background-image: url(../images/fb-no.png);
}
#welcome li.fb {
	background-image: url(../images/fb.png);
}

#welcome li.friends-no {
	background-image: url(../images/friends-no.png);
}
#welcome li.friends {
	background-image: url(../images/friends.png);
}



